/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

*
    outline: none

    &:hover,
    &:focus,
    &:active
        outline: none

.flash-messages
    position: fixed
    right: 0
    top: 60px
    width: 350px
    z-index: 999

.errors
    color: red

.ng-invalid.ng-touched
    border-color: red

a
    color: #000000
    transition: all .3s ease-in-out

    &:hover
        text-decoration: none
        opacity: .6

.pagination
    .page-item
        .page-link
            color: #000000
            padding: 8px 14px

        &.active,
        &:hover:not(.disabled)
            .page-link
                background-color: #28a745
                border-color: #28a745
                color: #ffffff
                opacity: 1

        &:not(:last-child)
            margin-right: 10px
