/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

.flash-messages
    position: fixed
    right: 0
    top: 60px
    width: 350px
    z-index: 999

.errors
    color: red

.ng-invalid.ng-touched
    border-color: red
