<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h3 class="mt-5 mb-3">Registration</h3>
            <form [formGroup]="registerForm">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="user_login"
                                    placeholder="User Login"
                                    formControlName="user_login">
                                <p class="errors"
                                   *ngIf="registerForm.controls.user_login.status === 'INVALID' && registerForm.controls.user_login.dirty">
                                    <span>Required field and min length 2</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="user_name"
                                    placeholder="User Name"
                                    formControlName="user_name">
                                <p class="errors"
                                   *ngIf="registerForm.controls.user_name.status === 'INVALID' && registerForm.controls.user_name.dirty">
                                    <span>Required field and min length 2</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="user_email"
                                    placeholder="User Email"
                                    formControlName="user_email">
                                <p class="errors"
                                   *ngIf="registerForm.controls.user_email.status === 'INVALID' && registerForm.controls.user_email.dirty">
                                    <span>Required field and min length 2</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="user_phone"
                                    placeholder="User Phone"
                                    formControlName="user_phone">
                                <p class="errors"
                                   *ngIf="registerForm.controls.user_phone.status === 'INVALID' && registerForm.controls.user_phone.dirty">
                                    <span>Required field and min length 2</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input
                                    type="password"
                                    class="form-control"
                                    name="lastname"
                                    placeholder="Password"
                                    formControlName="user_password"
                                >
                                <p class="errors"
                                   *ngIf="registerForm.controls.user_password.status === 'INVALID' && registerForm.controls.user_password.dirty">
                                    <span>Required field and min length 8</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>If you have an account <button class="btn btn-info" routerLink="/login">Login</button></p>
                <button
                    type="submit"
                    [disabled]="registerForm.status === 'INVALID'"
                    (click)="submitAction($event)"
                    class="btn btn-primary">Submit
                </button>
            </form>
        </div>
    </div>
</div>
